<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TwitchBot.Properties.Settings>
            <setting name="channelName" serializeAs="String">
                <value />
            </setting>
            <setting name="whoMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="scheduleMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="PointSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="firstStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewerList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="socialMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="streamerCommandList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="socialCommandTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numberOfTimesOpened" serializeAs="String">
                <value>0</value>
            </setting>
        </TwitchBot.Properties.Settings>
    </userSettings>
</configuration>